@charset "utf-8";
/*共通要素*/
.font_change{
    font-family: serif;
}
.font_weight{
    letter-spacing: 0.2em;
}
li{
    list-style: none;
}
span{
    font-weight: bold;
}


/*ヘッダー*/
.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
}
.navbar-nav{
    position: relative;
    margin: 0 0 0 auto;

}
.navbar-nav li+li{
    margin-left: 20px;
}
.navbar li a{
    font-weight: 1000;
    font-size: 20px;
    font-family: serif;
}
/*メイン*/
main{
    padding: 50px 0 0 0;
}
.mainvisual{
    width: 100%;
}
.mainvisual img{
    width: 100%;
    height: auto;
}

/*concept*/
.concept{
    padding: 100px 0 100px 0;
    background-image: url(views/background.png);
    background-color: #fff;
}
.box{
    width: 60%;
    padding: 30px 10px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}
.box h1{
    padding: 20px;
}
.font{
    font-size: 18px;  
    letter-spacing:0.1em ;  
}

/*works*/
.layout .work ul img{
    margin-bottom: 8px;
}
.layout{
    padding: 100px 0 80px 0;
    background-color: rgb(253, 253, 245);
}
.work img{
    width: 100%;
}
.work li{
    margin: 20px 0
}



/*フッター*/
.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(255, 255, 221);
}
.footer-nav{
    background-color: rgb(255, 255, 221);
}
.footer .weight{
    font-size: 50px;
}
.nav-link{
    color: black;
}
.footer ul{
    text-align: center;
    display: inline-flex;
    border-bottom:1px solid gray ;
    padding: 0 80px 5px 80px ;
}
.footer ul li+li{
    margin-left: 20px;
}
.footer .logo img{
    width: 40px;
    height: auto;
}
.footer .logo{
    background-color: rgb(255, 255, 221);
    margin-bottom: 10px;
}
.footer a{
    color: black;
    text-decoration: none;
}
/*about.html*/
/*concept*/
.concept{
    padding: 100px 0 100px 0;
    background-image: url(views/background.png);
    background-color: #fff;
}
.box{
    width: 60%;
    padding: 30px 10px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}
.box h1{
    padding: 20px;
}
.font{
    font-size: 18px;  
    letter-spacing:0.1em ;  
}
.main2{
    width: 100%;
    height: auto;
    padding: 70px 0 100px 0;
}
.container2{
    width: 900px;
    margin: 0 auto;
}
.main2 .container .title{
    text-align: center;
    margin: 50px 0 -20px 0;

}
.main2 .font_change{
    padding: 30px 0 0 0;
}
.main2 h3{
    border-bottom: 2px solid rgb(206, 206, 15);
}
.row{
    padding: 40px 0 0 0;
}
.myphoto{
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.skill{
    display: flex;
}
.skill li+li{
    margin: 0 0 0 20px;
}
.skill li{
    text-align: center;
}
.skill .logo{
    width: 80px;
    height: auto;
}
.about_text{
    padding-top: 20px;
}


@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    h2{
        font-size: medium;
        margin: -70px 0 0 0;
    }
    h4{
        font-size: small;
        margin: -30px 0 0 0;
    }
    p{
        font-size: x-small;
    }
    h5{
        font-size: small;
    }
    .row{
        margin: -30px 0 0 0;
    }
    .work li{
        text-align: center;
    }
    .work .btn{
        font-size: x-small;
    }
    .work img{
        width: 80%;
        height: auto;
    }
}
